<!DOCTYPE html>
<html lang="zxx">
   <head>
      <!-- The above 6 meta tags *must* come first in the head; any other head content must come *after* these tags -->
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <meta name="keyword" content="">
      <meta name="author"  content=""/>
      <!-- Page Title -->
      <title>{{title}}</title>
      <!-- Main CSS -->	  
      <link type="text/css" rel="stylesheet" href="/assets/css/style.css"/>
      <!-- Favicon -->	
      <link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon">
   </head>
   <body>
      <!--================================-->
      <!-- User Unlock Start -->
      <!--================================-->			
      <div class="ht-100v d-flex">
         <div class="pd-20 mx-auto text-center bd-1 align-self-center">
            <div class="login-wrapper">
               <div class="loginbox  align-self-center">
                  <div class="login-left hidden-xs">
                     <img class="img-fluid" src="/assets/images/logo-white.png" alt="Logo">
                  </div>
                  <div class="login-right">
                    {{{body}}}
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!--/ User Unlock End -->
      <!--================================-->
      <!-- Footer Script -->
      <!--================================-->
      <script src="/assets/plugins/jquery/jquery.min.js"></script>
      <script src="/assets/plugins/jquery-ui/jquery-ui.js"></script>
      <script src="/assets/plugins/popper/popper.js"></script>
      <script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
      <script src="/assets/plugins/pace/pace.min.js"></script>
   </body>
</html>